 /* Core CSS intentionally */

 body {
  background-color: #e5e5e5;
  font-family: -apple-system, \.SFNSDisplay-Regular, Helvetica Neue, Helvetica, Arial, sans-serif;
}

input {
  border: none !important;
   outline: none;
   width: 100%;
   font-weight: 500;
}

li {
  list-style: none;
}



/* Start: Commmon CSS Classes */



.section-scroll {
  overflow-y: scroll;
}


.flex {
  display: flex;
}

.container {
  width: 900px;
}

.bg {
  background-color: violet;
}


.center {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.text-left {
  text-align: left;
}

.block {
  background-color: white;
  margin-top: 3rem;
  padding-top: 3rem;
  padding-left: 10rem;
  padding-right: 10rem;

  border-radius: 0.5rem;
  padding-bottom: 3rem;
  
}

.header {
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
}


.subheader {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.button-2 {
  width: 9rem;
  margin-top: 2rem;
}

.button-lay-2 {
  font-weight: bold;
  color: #868686;
}

.margin-top-12 {
  margin-top: 12rem;
}

.margin-top-1 {
  margin-top: 1rem;
}

.margin-top-2 {
  margin-top: 2rem;
}


.font-size-1 {
  font-size: 32px;
}

.box-layout-small {
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  padding: 0.5rem 1rem;
  height: 1.2rem;
}

.divider {
  margin: 2rem 0rem;
  border-top: 1px solid #e5e5e5;
}

.text-2 {
  font-size: 18px;
  font-weight: bold;
}

.button {
  background-color: transparent;
  font-weight: 600;  
  color: gray;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;

}

.big-title-text {
  font-size: 32px;
  font-weight: bold;
}


/* End: Commmon CSS Classes */

/* Start: Star ratings styling */

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}

.rate:not(:checked)>input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked)>label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}

.rate:not(:checked)>label:before {
  content: '★ ';
}

.rate>input:checked~label {
  color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
  color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
  color: #c59b08;
}


.rating-stars ul {
  list-style-type: none;
  padding: 0;

  -moz-user-select: none;
  -webkit-user-select: none;
}

.rating-stars ul>li.star {
  display: inline-block;

}

/* Idle State of the stars */
.rating-stars ul>li.star>i.fa {
  font-size: 1.8em;
  /* Change the size of the stars */
  color: #ccc;
  /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul>li.star.hover>i.fa {
  color: #FFCC36;
}

/* Selected state of the stars */
.rating-stars ul>li.star.selected>i.fa {
  color: #fdce71;
}

#stars1 {
  margin-top: 8px;
  margin-left: 1rem;
}

.just {
  justify-content: space-between;
}
.close {
  color: gray;
  margin-top: 4px;
  font-weight: 600;
  margin-top: -1rem;
  margin-right: -2rem;
  font-size: 15px;
  cursor: pointer;
}

/* Display stars */


.stars-outer {
  position: relative;
  display: inline-block;
  margin-bottom: 16px;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-outer::before {
  content: "\f005   \f005   \f005   \f005   \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 21px;
  color: #ccc;
}

.stars-inner::before {
  content: "\f005  \f005   \f005   \f005   \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #fdce71;
  font-size: 21px;
}

.number-rating {
    font-weight: bold;
    margin-left: 1.5rem;

}

.number-rating::after {
    content: ",";
    font-weight: normal;
}


.reviewtext {
 margin-left: 4px;
 color: gray;
}

/* End: Star ratings styling */


/* Start: Add Review Popup  */

.wrapper {
  cursor: pointer;
}

.modal-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 26em;
  background-color: #fff;
  box-shadow: 0 0 1.5em hsl(0deg 0% 0% / 35%);
  padding: 2rem 4rem;
  border-radius: 7px;
}



.modal-heading {
  font-size: 1.125em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal-content>*:first-child {
  margin-top: 0;
}

.modal-content>*:last-child {
  margin-bottom: 0;
}

/* End: Add Review Popup  */





.modal__backdrop {
background: rgba(0, 0, 0, .65);
bottom: 0;
left: 0;
overflow: auto;
position: fixed;
right: 0;
top: 0;
z-index: 1;
}

.modal__container {
background:transparent;
border-radius: 5px;
max-width: 100%;
margin: 50px auto;
padding: 15px;
width: 560px;
}


/* star ratings for react */

.adding-stars{
  font-size: 21px;
}
.star {
  display: inline-block;  
  cursor: pointer;
}

.star::before {
  content: '★ ';

}


.star.hover {
  color: #FFCC36;
}

/* Selected state of the stars */
.star.selected {
  color: #fdce71;
}

.inactive, .active {
  background: transparent;
  user-select: none;
}



.inactive {
  color: #f1f1e8;
}

.active {
  color: #fdce71;
}

